
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.dll
*.cache
*.txt
*.cache
*.suo
*.dtbcache
*.ide
*.ide-shm
*.ide-wal
*.pdb
*.user
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.deps.json
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.dll
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.pdb
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.dll
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.pdb
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.assets.cache
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.csproj.FileListAbsolute.txt
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.csprojAssemblyReference.cache
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.dll
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.pdb
/Iris.Integracao.InfraHC/obj/Iris.Integracao.InfraHC.csproj.nuget.dgspec.json
/Iris.Integracao.InfraHC/obj/Iris.Integracao.InfraHC.csproj.nuget.g.props
/Iris.Integracao.InfraHC/obj/project.assets.json
/Iris.Integracao.MongoDB/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.deps.json
/Iris.Integracao.MongoDB/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.dll
/Iris.Integracao.MongoDB/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.pdb
/Iris.Integracao.MongoDB/obj/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.assets.cache
/Iris.Integracao.MongoDB/obj/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.csproj.FileListAbsolute.txt
/Iris.Integracao.MongoDB/obj/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.dll
/Iris.Integracao.MongoDB/obj/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.pdb
/Iris.Integracao.MongoDB/obj/Iris.Integracao.MongoDB.csproj.nuget.dgspec.json
/Iris.Integracao.MongoDB/obj/Iris.Integracao.MongoDB.csproj.nuget.g.props
/Iris.Integracao.MongoDB/obj/project.assets.json
/Iris.Integracao.Oracle/bin/Debug/netcoreapp3.1/Iris.Integracao.Oracle.dll
/Iris.Integracao.Oracle/bin/Debug/netcoreapp3.1/Iris.Integracao.Oracle.pdb
/Iris.Integracao.Oracle/obj/Debug/netcoreapp3.1/Iris.Integracao.Oracle.assets.cache
/Iris.Integracao.Oracle/obj/Debug/netcoreapp3.1/Iris.Integracao.Oracle.csproj.FileListAbsolute.txt
/Iris.Integracao.Oracle/obj/Debug/netcoreapp3.1/Iris.Integracao.Oracle.dll
/Iris.Integracao.Oracle/obj/Debug/netcoreapp3.1/Iris.Integracao.Oracle.pdb
/Iris.Integracao.Oracle/obj/Iris.Integracao.Oracle.csproj.nuget.dgspec.json
/Iris.Integracao.Oracle/obj/Iris.Integracao.Oracle.csproj.nuget.g.props
/Iris.Integracao.Oracle/obj/project.assets.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.pdb
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.pdb
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Oracle.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Oracle.pdb
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.deps.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.exe
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.pdb
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.runtimeconfig.dev.json
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.assets.cache
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.csproj.FileListAbsolute.txt
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.csprojAssemblyReference.cache
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.dll
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.exe
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.pdb
/Iris.Integracao.Worker.Service/obj/Iris.Integracao.Worker.Service.csproj.nuget.dgspec.json
/Iris.Integracao.Worker.Service/obj/Iris.Integracao.Worker.Service.csproj.nuget.g.props
/Iris.Integracao.Worker.Service/obj/project.assets.json
/.vs/Iris.Integracao.Worker.Service/v16/.suo
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.deps.json
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.dll
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.pdb
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.dll
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.pdb
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.assets.cache
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.csproj.FileListAbsolute.txt
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.csprojAssemblyReference.cache
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.dll
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.pdb
/Iris.Integracao.InfraHC/obj/Iris.Integracao.InfraHC.csproj.nuget.dgspec.json
/Iris.Integracao.InfraHC/obj/Iris.Integracao.InfraHC.csproj.nuget.g.props
/Iris.Integracao.InfraHC/obj/project.assets.json
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.deps.json
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.dll
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.pdb
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.dll
/Iris.Integracao.InfraHC/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.pdb
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.assets.cache
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.csproj.CopyComplete
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.csproj.FileListAbsolute.txt
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.csprojAssemblyReference.cache
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.dll
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.pdb
/Iris.Integracao.InfraHC/obj/Iris.Integracao.InfraHC.csproj.nuget.cache
/Iris.Integracao.InfraHC/obj/Iris.Integracao.InfraHC.csproj.nuget.dgspec.json
/Iris.Integracao.InfraHC/obj/Iris.Integracao.InfraHC.csproj.nuget.g.props
/Iris.Integracao.InfraHC/obj/Iris.Integracao.InfraHC.csproj.nuget.g.targets
/Iris.Integracao.InfraHC/obj/project.assets.json
/Iris.Integracao.MongoDB/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.deps.json
/Iris.Integracao.MongoDB/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.dll
/Iris.Integracao.MongoDB/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.pdb
/Iris.Integracao.MongoDB/obj/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.assets.cache
/Iris.Integracao.MongoDB/obj/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.csproj.FileListAbsolute.txt
/Iris.Integracao.MongoDB/obj/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.dll
/Iris.Integracao.MongoDB/obj/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.pdb
/Iris.Integracao.MongoDB/obj/Iris.Integracao.MongoDB.csproj.nuget.cache
/Iris.Integracao.MongoDB/obj/Iris.Integracao.MongoDB.csproj.nuget.dgspec.json
/Iris.Integracao.MongoDB/obj/Iris.Integracao.MongoDB.csproj.nuget.g.props
/Iris.Integracao.MongoDB/obj/Iris.Integracao.MongoDB.csproj.nuget.g.targets
/Iris.Integracao.MongoDB/obj/project.assets.json
/Iris.Integracao.Oracle/bin/Debug/netcoreapp3.1/Iris.Integracao.Oracle.deps.json
/Iris.Integracao.Oracle/bin/Debug/netcoreapp3.1/Iris.Integracao.Oracle.dll
/Iris.Integracao.Oracle/bin/Debug/netcoreapp3.1/Iris.Integracao.Oracle.pdb
/Iris.Integracao.Oracle/obj/Debug/netcoreapp3.1/Iris.Integracao.Oracle.assets.cache
/Iris.Integracao.Oracle/obj/Debug/netcoreapp3.1/Iris.Integracao.Oracle.csproj.FileListAbsolute.txt
/Iris.Integracao.Oracle/obj/Debug/netcoreapp3.1/Iris.Integracao.Oracle.dll
/Iris.Integracao.Oracle/obj/Debug/netcoreapp3.1/Iris.Integracao.Oracle.pdb
/Iris.Integracao.Oracle/obj/Iris.Integracao.Oracle.csproj.nuget.cache
/Iris.Integracao.Oracle/obj/Iris.Integracao.Oracle.csproj.nuget.dgspec.json
/Iris.Integracao.Oracle/obj/Iris.Integracao.Oracle.csproj.nuget.g.props
/Iris.Integracao.Oracle/obj/Iris.Integracao.Oracle.csproj.nuget.g.targets
/Iris.Integracao.Oracle/obj/project.assets.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/appsettings.dev.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/appsettings.hml.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/appsettings.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/appsettings.local.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/appsettings.production.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/appsettings.qa.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/AutoMapper.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Dapper.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/DnsClient.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/dotNetCore.Data.OracleClient.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/FluentValidation.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.pdb
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.pdb
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Oracle.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Oracle.pdb
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.deps.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.exe
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.pdb
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.runtimeconfig.dev.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.runtimeconfig.json
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.CommandLine.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.UserSecrets.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.Abstractions.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Hosting.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Configuration.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Console.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Debug.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventLog.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.EventSource.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/MongoDB.Bson.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/MongoDB.Driver.Core.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/MongoDB.Driver.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/MongoDB.Libmongocrypt.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.EventLog.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/Serilog.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/SharpCompress.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/System.Diagnostics.EventLog.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/System.Net.Http.Formatting.dll
/Iris.Integracao.Worker.Service/bin/Debug/netcoreapp3.1/TimeZoneConverter.dll
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.AssemblyInfo.cs
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.AssemblyInfoInputs.cache
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.assets.cache
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.csproj.CopyComplete
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.csproj.FileListAbsolute.txt
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.csprojAssemblyReference.cache
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.dll
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.exe
/Iris.Integracao.Worker.Service/obj/Debug/netcoreapp3.1/Iris.Integracao.Worker.Service.pdb
/Iris.Integracao.Worker.Service/obj/Iris.Integracao.Worker.Service.csproj.nuget.cache
/Iris.Integracao.Worker.Service/obj/Iris.Integracao.Worker.Service.csproj.nuget.dgspec.json
/Iris.Integracao.Worker.Service/obj/Iris.Integracao.Worker.Service.csproj.nuget.g.props
/Iris.Integracao.Worker.Service/obj/Iris.Integracao.Worker.Service.csproj.nuget.g.targets
/Iris.Integracao.Worker.Service/obj/project.assets.json
/Iris.Integracao.InfraHC/obj/Debug/netcoreapp3.1/Iris.Integracao.InfraHC.AssemblyInfo.cs
/Iris.Integracao.MongoDB/obj/Debug/netcoreapp3.1/Iris.Integracao.MongoDB.AssemblyInfo.cs
/Iris.Integracao.Oracle/obj/Debug/netcoreapp3.1/Iris.Integracao.Oracle.AssemblyInfo.cs
/.vs/Iris.Integracao.Worker.Service/v16/.suo
